body{background-image:url(../img/nuevofondo\(2\).jpg);
    margin: 0rem;
    background-attachment: fixed;
    .frase{
        display: flex;
        justify-content: center;
        background: black;
        color: gold;
        margin-block-start: auto;
    }        
}   