.hero{
    display: flex;
    justify-content: space-around;
    margin: 1%;
    flex-wrap: wrap;
    &__img{
        border-style: groove;
    }    
    &__txt{
        text-align: center;
        color: white;
        font-size: x-large;
        font-family: monospace;
    }
    }
    