.hero{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 255, 255);
    background:#112a44;
    
    &__img{
        width: 20rem;
    }    
    &__txt{
        width: 19rem;
        text-align: center;
        font-family: sans-serif;
    }
    }
    