@media screen and (max-width: 1880px){
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .inicio{
        background: rgba(17, 42, 68, 0.6117647059);
        color: white;
        overflow: hidden;
      }
      .hero {
        display: flex;
        color: white;
        flex-flow: wrap;
      }
      .header__img {
        width: 400px;
      }
      .body {
        background-image: url(../img/nuevofondo\(2\).jpg);
        background-attachment: fixed;
      }
      .hero__txt {
        width: 18rem;
        font-size: larger;
        margin: 1rem;
      }
      .form {
        display: flex;
        flex-flow: wrap;
        border-style: outset;
        width: 21rem;
        height: 23rem;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
      }
    .estilos__imagenes {
        display: flex;
        flex-wrap: nowrap;
        width: 400px;
        flex-direction: column;
    }
    .tienda__estilos {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        color: white;
        justify-content: space-evenly;
        background: rgba(17, 42, 68, 0.5490196078);
    }
    .personajes {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .personajes__txt {
    color: white;
    font-size: x-large;
    text-align: -webkit-center;
    width: 58%;
}
  .personajes__img {
    width: 540px;
}  
.estilo__video {
  display: flex;
  flex-direction: row;
}
 .estilo__video.video__1 {
  display: flex;
  width: 35%;
  margin: auto;
}
  }
  @media screen and (max-width: 1400px){
    .hero{
      display: flex;
      color: white;
      flex-flow: wrap;
      flex-direction: column;
      align-items: center;
  }
  }
  @media screen and (max-width: 1300px){
    .hero{
      display: flex;
      color: white;
      flex-flow: wrap;
      flex-direction: column;
      align-items: center;
  }
  .tienda__estilos {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        color: white;
        justify-content: space-evenly;
        background: rgba(17, 42, 68, 0.5490196078);
    }
    .estilos__imagenes {
        display: flex;
        flex-wrap: nowrap;
        width: 290px;
        flex-direction: column;
    }
    .personajes {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .personajes__txt {
    color: white;
    font-size: x-large;
    text-align: -webkit-center;
} 
.estilo__video{
  display: flex;
  justify-content: center;
}

.estilo__video .video__1 {
  width: 42%;
  margin: 1%;
}
}
@media screen and (max-width: 1200px){
    .imagen__ep1 {
        display: flex;
        flex-wrap: nowrap;
        width: 285px;
        flex-direction: column;
    }
    .estilos__imagenes {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .tienda__estilos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    color: white;
    justify-content: space-evenly;
    background: rgba(17, 42, 68, 0.5490196078);
     }
     .personajes {
      display: flex;
      flex-direction: column;
  }
  .personajes__txt {
    color: white;
    font-size: x-large;
    text-align: -webkit-center;
    width: 85%;
  }
.estilo__video{
  display: flex;
  justify-content: center;}
.video__1
  { 
  width: 42%;
  margin: 1%;
}
}
@media screen and (max-width: 1040px) {
  .hero{
    display: flex;
    color: white;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
  }
  .estilos__imagenes {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .tienda__estilos{
        display: flex;
        width: 100%;
        margin: auto;
        color: white;
        background: rgba(17, 42, 68, 0.5490196078);
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        }
        .estilos__imagenes{
        display: flex;
        }
        .personajes {
          display: flex;
          flex-direction: column;
      }
      .personajes__txt {
        color: white;
        font-size: x-large;
        text-align: -webkit-center;
    }
    .personajes__img {
      width: 340px
    }  
    .estilo__video{
      display: flex;
      justify-content: center;
    }
    .video__1{ 
      width: 42%;
      margin: 1%;
    }
  }
  @media screen and (max-width:1000px) 
  {
    .estilos__imagenes {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }  
    .personajes {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
  } 
  .personajes__txt {
    color: white;
    font-size: x-large;
    text-align: -webkit-center;
    width: 87%;
}
  .personajes__img {
    width: 340px
}  
.estilo__video {
  display: flex;
  flex-direction: column;
}
.estilo__video .video__1 {
  display: flex;
  width: 100%;
  margin: auto;
}
}
  @media screen and (max-width: 790px) {
    .estilos 
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .personajes {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;
  } 
  .personajes__txt {
    color: white;
    font-size: x-large;
    text-align: -webkit-center;
    width: 98%;
}
  .personajes__img {
    width: 340px;
}  
.estilo__video {
  display: flex;
  flex-direction: column;
}
.estilo__video .video__1 {
  display: flex;
  width: 100%;
  margin: auto;
}      
  }
@media screen and (max-width: 769px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .hero {
      display: flex;
      justify-content: center;
      color: white;
      background-color: #112a44;
    }
    .header__img {
      width: 400px;
    }
    .body {
      background-image: url(../img/nuevofondo\(2\).jpg);
      background-attachment: fixed;
    }
    .form {
      display: flex;
      flex-flow: wrap;
      border-style: outset;
      width: 21rem;
      height: 23rem;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
    }
    .tienda__estilos{
        display: flex;
        width: 100%;
        margin: auto;
        color: white;
        background: rgba(17, 42, 68, 0.5490196078);
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        }
        .estilos__imagenes{
        display: flex;
        width: 245px;
        }
        .personajes {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: auto;    
      } 
      .personajes__txt {
        color: white;
        font-size: x-large;
        text-align: -webkit-center;
        width: 98%;
    }
      .personajes__img {
        width: 340px;
    }  
    .estilo__video {
      display: flex;
      flex-direction: column;
    }
    .estilo__video .video__1 {
      display: flex;
      width: 100%;
      margin: auto;
    }
      }
@media screen and (max-width:700px) {
  .personajes__img {
    width: 275px
}  
}  
@media screen and (max-width:575px) {
  .section__pj {
    display: flex;
    background-color: rgba(17, 42, 68, 0.6117647059);
    justify-content: center;
    flex-direction: column;
}
  
}   
@media screen and (max-width: 425px){
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header__list {
      display: table-column;
      justify-content: space-around;
      color: white;
    }
    .hero {
      display: flex;
      justify-content: center;
      color: white;
      background-color: #112a44;
      flex-direction: column;
      margin: auto;
    }
    .hero__txt {
      width: auto;
      color: white;
      font-size: x-large;
      font-family: monospace;
  }
    .hero__img{
      width: 330px;
      border-style: groove;
    }
    .header__img {
      width: 400px;
    }
    .textoprincipal-2 {
      text-align: center;
      font-size: larger;
      margin-top: revert;
  }
    body {
      background-image: url(../img/nuevofondo\(2\).jpg);
      background-attachment: fixed;
    }
    .form {
      display: flex;
      flex-flow: wrap;
      border-style: outset;
      width: 21rem;
      height: 23rem;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
    }
  .tienda__estilos{
    display: flex;
    width: 100%;
    margin: auto;
    color: white;
    background: rgba(17, 42, 68, 0.5490196078);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    }
    .estilos__imagenes{
    display: flex;
    width: 155px;
    }
    .section__pj {
      display: flex;
      background-color: rgba(17, 42, 68, 0.6117647059);
      justify-content: center;
      flex-direction: column;
  }
    .personajes {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 4%;
  }
  .personajes__txt {
    color: white;
    font-size: x-large;
    text-align: -webkit-center;
    width: 86%;
}
.personajes__img {
  width: 305px;
}  
.estilo__video {
  display: flex;
  flex-direction: column;
}
 .estilo__video.video__1 {
  display: flex;
  width: 35%;
  margin: auto;
}
}
@media screen and (max-width: 320px){
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__list {
    display: table-column;
    justify-content: space-around;
    color: white;
  }
  .header__img {
    width: 100%;
  }
  .textoprincipal-2 {
    text-align: center;
    font-size: larger;
    margin-top: revert;
}
  .hero {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #112a44;
    flex-direction: column;
    margin: auto;
  }
  .hero__txt {
    width: 88%;
    font-size: larger;
    margin: 1rem;
}
.hero__img {
  width: 330px;
  border-style: groove;
}
  .body {
    background-image: url(../img/nuevofondo\(2\).jpg);
    background-attachment: fixed;
  }
  .form {
    display: flex;
    flex-flow: wrap;
    border-style: outset;
    width: 98%;
    height: 24rem;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
}