.personajes{ 
    display: flex;
    flex-direction: column;
    
    &__img{
        width: 45%;
    }
    &__name{
        font-size: x-large;
        color: white;
        text-decoration-line: underline;
    }
    &__txt{
    display: flex;
    width: 46rem;
    color: white;
    font-size: x-large;
    text-align: -webkit-center;
    }
}
